.dashboard > div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 16px;
}

.dashboard > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 16px;
  height: 240px;
}

.dashboard > div:nth-child(3) {
  padding-bottom: 16px;
}
