.btn-style {
  width: 280px;
  height: 120px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.btn-style > div:nth-child(1) {
  width: calc(80% - 5px);
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.btn-style > div:nth-child(2) {
  width: calc(20% - 5px);
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.btn-style > div:nth-child(2) > svg {
  font-size: 40px;
}
